<!--- How to Play -->
<section class="how-to-play" ng-show="game.state === 'awaiting players'">
    <h1 >How to Play</h1>
   <p>(1.) Each player begins with, and will always have, 10 white answer cards.<br><br>
    (2.) For each round, one player is randomly chosen as the Card Czar.<br><br>
    (3.) Everyone else answers the black question card by clicking on the answer card they want to use.<br><br>
    (4.) The Card Czar then picks a favorite answer, and whoever played that answer wins the round.<br><br>
    (5.) *Want to adorn your avatar with a glorious crown? Donate to charity after the game!</p><br><br>
</section>



<!-- Game end -->
<section class="game-over-body" ng-show="game.state === 'game ended' || game.state ==='game dissolved'">
  <div class="charity-side"   style="position: relative !important; 
  width: 100% !important; left: 100px; 
  top: 30px; border: none; border-radius: 0px; background: transparent; "; 
  ng-show="(game.state ==='game dissolved' && game.gameWinner === -1) ||
  (game.state === 'game ended' || game.gameWinner !== -1)">
    <p>Amount Raised</p>
    <p>$786</p>
    <a href="" class="btn-charity" style="background-color: #008000; box-shadow: 2px 2px 3px black;">Donate now!</a>
  </div>
  
  <h3>What would you like to do now?</h3><br>

  
  <p ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
    You might consider donating to charity to atone for the horrifying
    answers you have submitted. Donating will also place a lovely crown
    on your avatar's head
  </p>
  
  <p ng-show="game.state === 'game ended' || game.gameWinner !== -1">
      Help yourself to another game or help a child in need? Donating will also place a lovely crown on your avatar's head.
  </p>
  <span class="buttons">
    <button class="start-game-button" onclick="window.location = '/#!/app'" ng-click="game.joinGame('joinNewGame')">
      Join a new Game
    </button>
    <button class="start-game-button" onclick = "window.location='/'">
      Return to Lobby
    </button>
  </span>
</section>

<!-- Game CZAR-->
<section class="game-czar" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
  <h2>You are now the game Czar<br>
  Players are choosing their answers. Prepare to select the Winner</h2>
</section>

<!-- Game Cards -->
  <section ng-cloak id="cards" class="cards" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players' || (isCzar() && game.table.length===0)" >
    <span ng-show="winnerPicked()"></span>
    <div class="card-row" >
      <div ng-style="{'cursor':'pointer'}" class="{{preset}}" id='answers' ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
      ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
          <p class="game-card-text" ng-bind-html="card.text"></p>
          <span class='selection-number' ng-show="showFirst(card)"> 1 </span>
          <span class='selection-number' ng-show="showSecond(card)"> 2 </span>
      </div>
   </div>

    <div class="card-row" style="display: inline-flex !important">
    <div ng-repeat="answer in game.table">
        <div class="{{preset}}"  ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
        ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="width:160px; background-color:{{winningColor($parent.$index)}}">
            <p class="game-card-text"  ng-bind-html="card.text"></p>
            <span class='selection-number' ng-show="firstAnswer($index)"> 1 </span>
            <span class='selection-number' ng-show="secondAnswer($index)"> 2 </span>
        </div>
      </div>
      </div>
    </section>
