<div id="container">
    <div class="app">
        <div class="chat-messages">
            <div class="chat">
                <div class="chat-content clearfix">
                    <span class="friend last" ng-repeat="chat in chats">
                        <img ng-src="{{chat.image}}" />  
                        <span class="usernames">{{chat.user}}</span> 
                        <div>{{chat.message}}</div>
                        <span class="time">
                            {{chat.date | date:'hh:mm'}}
                        </span>
                    </span>
                </div>
            </div>       
        </div>
        <div class="msg-box">
            <form name="messageForm">
                <input type="text" class="chat-msg" ng-model="message" placeholder="Message from {{game.players[game.playerIndex].username}}..."/>
                <button type="submit" ng-click="sendChatMessage(message)" class="sendbutton"></button>
            </form>
        </div>
    </div>
</div>   
