<header class="main-header">
  <div class="h-container">

    <div class="logo">
      <img src="/img/playing-cards.png" alt="">
      <h5>Cards for Humanity</h5>
    </div>

    <nav class="site-nav" id="nav-id">
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">
            </i>Meet the Team</a>
        </li>
        <li>
          <a href="">Charity</a>
        </li>
        <li>
          <a href="" id="last-a">Sign in</a>
        </li>
      </ul>
    </nav>

    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
  </div>
</header>
<section class="v-header">
  <div class="fullscreen-video-wrap">
    <video src="/img/play.mp4" autoplay="" loop="">
    </video>
  </div>
  <div class="header-overlay"></div>
  <div class="h-content">
    <div class="header-content">
      <h1>A game for horrible people desperately trying to do good</h1>
      <p>Cards for Humanity is a fast-paced online version of the popular card game, Cards Against Humanity, that gives you
        the opportunity to donate to children in need - all while remaining as despicable and awkward as you naturally are.
      </p>
      <div class="btn-a">
        <span ng-hide="showOptions">
          <a class="btn-large btn-large-a" href="#!/signup">SIGN UP NOW</a>
          <a class="btn-large btn-large-a" href="#!/signin">SIGN IN</a>
        </span>
      </div>
      <div>
        <a href="/play" class="play-as-guest">Play as a guest</a>
      </div>
    </div>
  </div>
</section>

<div>
  <div class="charity-side">
    <p>Amount Raised</p>
    <p>$786</p>
    <a href="" class="btn-charity">Donate now!</a>
  </div>
  <div class="content">

    <section class=" section ">
      <div class="container section-info ">
        <img src="/img/cards.png " alt=" ">
        <h1>How to play the game</h1>
        <div class="circle-group ">
          <div class="circle-card ">
            Each player begins with, and will always have, 10 white answer cards.
          </div>
          <div class="circle-card ">
            For each round, one player is randomly chosen as the Card Czar.
          </div>
          <div class="circle-card ">
            Everyone else answers the black question card by clicking on the answer card they want to use.
          </div>
          <div class="circle-card ">
            The Card Czar then picks a favorite answer, and whoever played that answer wins the round.
          </div>
        </div>

    </section>
    <section class="section ">
      <div class="container section-info info-p ">
        <img src="/img/heart.png " alt=" ">
        <h1>Charity</h1>
        <p>"If you don 't give back, no one will like you™" - crowdrise.com</p>
        <p>
          We're quite sure you feel the same way, so we 've integrated donation widgets (via crowdrise.com), along with some not-so-subtle
          reminders throughout the game to give you the opportunity to donate. If you're signed in when you donate, we 'll
          even upgrade your account and place a crown on your avatar's head (to remind other players how much better you
          are than them). All donations go to the Make-a-Wish Foundation and benefit children in need. </p>
      </div>
    </section>
    <section class="section section-foot">
      <div class="container section-info">
        <img src="/img/teamwork.png" alt="">
        <h1>Meet the team</h1>
        <div class="teams">
          <div class="team-img">
            <img src="/img/ama.png" alt="" class="team">
            <a href="">
              <p>Amarachukwu Agbo</p>
            </a>
          </div>
          <div class="team-img">
            <img src="/img/ema.png" alt="" class="team">
            <a href="">
              <p>Emmanuel Abeye</p>
            </a>
          </div>
          <div class="team-img">
            <img src="/img/chika.png" alt="" class="team">
            <a href="">
              <p>Onuchukwu Chika</p>
            </a>
          </div>
          <div class="team-img">
            <img src="/img/sunday.png" alt="" class="team">
            <a href="">
              <p>Sunday Taiwo</p>
            </a>
          </div>
          <div class="team-img">
            <img src="/img/ola.png" alt="" class="team">
            <a href="">
              <p>Olayemi Lawal</p>
            </a>
          </div>
          <div class="team-img">
            <img src="/img/oseni.png" alt="" class="team">
            <a href="">
              <p>Oseni Oseni</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>


  <footer class="footer">
    <div class="footer-content">
      <div class=footer-right>
        <p>
          Legal stuff: This game is based on the Cards Against Humanity card game, which is CC licensed (BY-NC-SA). Cards for Humanity
          is not affiliated with Cards Against Humanity. In complying with the Creative Commons license of the Cards Against
          Humanity card game, all proceeds from donations go directly to charity, as managed by crowdrise.
        </p>
        <p>©2018 CFH Software. Thorin Team. All Rights Reserved</p>

      </div>
      <div class="footer-left">
        <p>
          Cards for humanity
        </p>
        <p>powered by thorin team</p>
      </div>
    </div>
    <div>
      <div class="group-icons">
        <i class="ion-social-facebook"></i>
        <i class="ion-social-youtube"></i>
        <i class="ion-social-instagram"></i>
        <i class="ion-social-twitter"></i>
      </div>
    </div>
  </footer>

  <script>
    $(document).ready(function () {
      $(".charity-side").hide();
      $(".main-header").hide();
      $(window).scroll(function () {
        if ($(this).scrollTop() > 400) {
          $(".charity-side").show();
        } else if ($(this).scrollTop() > 100) {
          $(".main-header").slideDown();
        } else {
          $(".charity-side").hide();
          $(".main-header").slideUp();
        }
      })
    })
    $('.menu-toggle').click(function () {
      $('.site-nav').toggleClass('site-nav--open', 500);
      $(this).toggleClass('open');
    })
  </script>