<section class="section section-foot" id="meettheteam">
  <div class="container section-info">
    <img src="/img/teamwork.png" alt="">
    <h1>Meet the team</h1>
    <div class="teams">
      <div class="team-img">
        <img src="/img/ama.png" alt="" class="team">
        <a href="">
          <p>Amarachukwu Agbo</p>
        </a>
      </div>
      <div class="team-img">
        <img src="/img/ema.png" alt="" class="team">
        <a href="">
          <p>Emmanuel Abeye</p>
        </a>
      </div>
      <div class="team-img">
        <img src="/img/chika.png" alt="" class="team">
        <a href="">
          <p>Onuchukwu Chika</p>
        </a>
      </div>
      <div class="team-img">
        <img src="/img/sunday.png" alt="" class="team">
        <a href="">
          <p>Sunday Taiwo</p>
        </a>
      </div>
      <div class="team-img">
        <img src="/img/ola.png" alt="" class="team">
        <a href="">
          <p>Olayemi Lawal</p>
        </a>
      </div>
      <div class="team-img">
        <img src="/img/oseni.png" alt="" class="team">
        <a href="">
          <p>Oseni Oseni</p>
        </a>
      </div>
    </div>
  </div>
</section>