<header class="main-header solid" ng-controller="IndexController">
  <div class="h-container">
    <div class="logo">
      <img src="/img/playing-cards.png" alt="">
      <h5>Cards for Humanity</h5>
    </div>

    <nav class="site-nav solid" id="nav-id">
      <ul>
        <li>
          <a href="#!/" id="top">Home</a>
        </li>
        <li style="margin-right: 20px;">
          <a href="#!/team">
            Meet the Team
          </a>
        </li>
        <span ng-show="showOptions">
          <li>
            <a href="#!/signup">Sign Up</a>
          </li>
          <li>
            <a href="#!/signin">Sign in</a>
          </li>
        </span>
        <span ng-hide="showOptions" ng-controller="IndexController">
          <li style="display: flex; padding: 0 0 10px 30px; cursor: pointer;" ng-if="messageLength > 0">
            <i data-target="notify" class="material-icons modal-trigger" style="color: #4f4f4f">notifications</i>
            <a class="badge mt-2" style="margin-left: 0; margin-top: -5px;">
              <span style="color: #4f4f4f">{{messageLength}}</span>
            </a>
          </li>
          <li class="dropdown">
            <a id="arrow" href="#" class="dropdown-trigger" data-target="dropdown1" style="margin-left:5px; display: flex">{{global.user.username}}
              <span>
                <i class="ion-arrow-down-b" style="margin-left:5px; margin-left: 5px"></i>
              </span>
            </a>
        </span>
      </ul>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
      <li>
        <a href="#!/profile" ng-click="userGames()">Profile</a>
      </li>
      <li class="divider"></li>
      <li>
        <a onclick="logout()" ng-click="removeUserOnline()">Log Out</a>
      </li>
    </ul>
    <div id="notify" class="modal notifymodal" ng-controller="IndexController">
      <p ng-repeat="info in notifications" ng-bind-html="info.html">{{info}}</p>
    </div>



    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
  </div>
</header>

<div class="container profile" ng-controller="IndexController">
  <div class="personal-game-header">
    <h3>Personal Game Log</h3>
  </div>
  <div class="row">
    <div class="col s4 rule">
      <div class="profile-info">
        <div class="circular-portrait">
          <img ng-src="{{global.user.imageUrl}}">
        </div>
        <h5>
          {{global.user.username.toUpperCase()}}
        </h5>
        <span>
          <i class="ion-ios-email"></i>
          <p>{{global.user.email.toLowerCase()}}</p>
        </span>
      </div>
    </div>
    <div class="col s8">
      <div class="game-log">
        <h6>List of games played</h6>
        <div ng-if="global.message" style="text-align:center;color:#EC6C4E">
          <h4>{{global.message}}</h4>
        </div>
        <table class="striped" ng-if="global.userGameInfo">
          <thead>
            <tr>
              <th>Game ID</th>
              <th>No. of rounds won</th>
              <th>Date Played</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="games in global.userGameInfo">
              <td>{{games.gameId}}</td>
              <td>{{games.userGame[0].points}}</td>
              <td>{{games.playedAt | date: 'longDate'}}</td>
            </tr>
          </tbody>
        </table>
        <h5 class="pointsWon" ng-if="global.userGameInfo">Total Points Won:
          <span class="points">{{global.pointsWon}}</span>
        </h5>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-content container">
    <div class="footer-col">
      <div class="footer-logo">
        <img src="/img/playing-cards.png" />
        <p id="footer-logo">CARDS FOR HUMANITY</p>
      </div>
      <p class="copyright">© 2018 CFH Software</p>
    </div>
    <div class="footer-col">
      <p>ABOUT CARDS FOR HUMANITY</p>
      <p>
        <a id="about">About Us</a>
      </p>
      <p>
        <a id="about">Meet the Team</a>
      </p>
    </div>
    <div class="footer-col">
      <p>JOIN THE CONVERSATION</p>
      <div class="footer-icons">
        <div class="footer-icon">
          <a>
            <i class="ion-social-facebook"></i>
          </a>
        </div>
        <div class="footer-icon">
          <a>
            <i class="ion-social-twitter"></i>
          </a>
        </div>
        <div class="footer-icon">
          <a>
            <i class="ion-social-instagram"></i>
          </a>
        </div>
        <div class="footer-icon">
          <a>
            <i class="ion-social-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(document).ready(function () {
    $('.modal').modal();
    $(".dropdown-trigger").dropdown();
    $('.menu-toggle').click(function () {
      $('.site-nav').toggleClass('site-nav--open', 500);
      $(this).toggleClass('open');
    })
    $(window).scroll(function () {
      $(".main-header").addClass("solid");
      $(".site-nav").addClass("solid");
      $(".humburger.solid").addClass("solid")
    })
  })
</script>