<!-- Notification -->
<div id="notifications" class="notifications animated fadeInLeft " ng-if="game.notification">{{game.notification}}</div>

<!-- Finding players -->
<div ng-show="game.state === 'awaiting players'" class="content game-intro">
    <h1 class="finding-players" >FINDING PLAYERS</h1>
    <span class="loading"><img height="30px" src="../img/loading.gif" />{{game.players.length}}/12</span>
    <button class="start-game-button"
    ng-click="game.startGame(game.players.length)" 
    ng-show="(game.playerIndex === 0 || game.joinOverride) && game.players.length >= 3"
    >Start game with {{game.players.length}} players</button>
</div>
<h5>{{ waitingForCzarToPick }}</h5>

<!-- question -->
<div class="content" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'">
  <span ng-bind-html="game.curQuestion.text" class="question"></span>
</div>
<div ng-show="game.state === 'black card'" class="text-center">
</div>
<!-- Game Over -->
<div class="content" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
    <span class="game-end" >
      What the ?! The game ended because 
      too many people left!<br> Our sincere apologies.
    </span>
</div>
<div class="content"  ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
    <span class="game-end" >
        Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!
        We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity.
        Or just horde it all for yourself.
    </span>
</div>
<div class="content" ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
    <span class="game-end">
      Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!
      That makes you a loser, unfortunately.
    </span>
</div>

