<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>
<header class="main-header solid" ng-controller="IndexController">
  <div class="h-container">
    <div class="logo">
      <img src="/img/playing-cards.png" alt="">
      <h5>Cards for Humanity</h5>
    </div>

    <nav class="site-nav solid" id="nav-id">
      <ul>
        <li>
          <a href="#!/" id="top">Home</a>
        </li>
        <span ng-show="showOptions">
          <li>
            <a href="#!/signup">Sign Up</a>
          </li>
          <li>
            <a href="#!/signin">Sign in</a>
          </li>
        </span>
        <span ng-hide="showOptions">
          <li class="dropdown">
            <a id="arrow" class="dropdown-trigger" href="#" data-target="dropdown1">{{global.user.username}}
              <span>
                <i class="ion-arrow-down-b"></i>
              </span>
            </a>
          </li>
        </span>
      </ul>
    </nav>
    <ul id="dropdown1" class="dropdown-content" ng-hide="showOptions">
      <li>
        <a href="#!/profile" ng-click="userGames()">Profile</a>
      </li>
      <li class="divider"></li>
      <li>
        <a onclick="logout()">Log Out</a>
      </li>
    </ul>



    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
  </div>
</header>

<div class="team-background">
  <h2>MEET THE TEAM</h2>
  <section class="container team-section">
    <h3>Meet the Team</h3>
    <div class="member-row">
      <div class="col s4 member">
        <img src="/img/oseni.png" alt="">
        <h6>Olusola Oseni</h6>
        <p>Software Developer D0 (SIMs)</p>
        <p class="ajust-text">Olusola Oseni is currently a D0 software developer at Andela. He loves coding in Python and JavaScript and enjoys taking
        his dog, Lugzy Bugzy, for a walk.</p>
        <div class="member-bio"></div>
        <div class="member-social">
          <p>Reach him on</p>
          <div class="member-icon">
            <a>
              <i class="ion-social-facebook"></i>
            </a>
            <a>
              <i class="ion-social-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col s4 member">
        <img src="/img/ama.png" alt="">
        <h6>Amarachukwu Agbo</h6>
        <p>Software Developer D0 (SIMs)</p>
        <p class="ajust-text">Agbo Amarachi is a D0 developer at Andela. When she is not coding, you will probably find her reading a book or checking
        out fashion and lifestyle videos on Youtube.</p>
        <div class="member-bio"></div>
        <div class="member-social">
          <p>Say hi to her</p>
          <div class="member-icon">
            <a>
              <i class="ion-social-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col s4 member">
        <img src="/img/emma.png" alt="">
        <h6>Emmanuel Abaye</h6>
        <p>Software Developer D0 (SIMs)</p>
        <p class="ajust-text">Emmanuel Abaye is a D0 software developer at Andela. He currently works with with Javascript technologies. Emmanuel loves
        learning and sharing knowledge. If he’s not coding, you can catch him unwinding by hanging out with friends and watching
        movies.</p>
        <div class="member-bio"></div>
        <div class="member-social">
          <p>Reach him on</p>
          <div class="member-icon">
            <a>
              <i class="ion-social-twitter"></i>
            </a>
            <a>
              <i class="ion-social-facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="member-row">
      <div class="col s4 member">
        <img src="/img/sunday.png" alt="">
        <h6>Sunday Taiwo</h6>
        <p>Software Developer D0 (SIMs)</p>
        <p class="ajust-text">Taiwo Sunday D0 software developer at Andela. All things javascript and python. likes anime, rock music and sci-fi.</p>
        <div class="member-bio"></div>
        <div class="member-social">
          <p>Send him a mail</p>
          <div class="member-icon">
            <a>
              <i class="ion-social-google"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col s4 member">
        <img src="/img/ola.png" alt="">
        <h6>Olayemi Lawal</h6>
        <p>Software Developer D0 (SIMs)</p>
        <p class="ajust-text">Olayemi Lawal, a D0 developer at Andela currently working with Javascript and React. He loves watching cartoons and listening to music</p>
        <div class="member-bio"></div>
        <div class="member-social">
          <p>Check him out here</p>
          <div class="member-icon">
            <a>
              <i class="ion-social-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col s4 member">
        <img src="/img/chika.png" alt="">
        <h6>Onuchukwu Chika</h6>
        <p>Software Developer D0 (SIMs)</p>
        <p class="ajust-text">
          Chika Onuchukwu is currently a D0 software developer in Andela, he likes learning new stuff about functional programming.
          His favourite programming language is C# and he so loves cooking.
        </p>
        <div class="member-bio"></div>
        <div class="member-social">
          <p>Say hi to him</p>
          <div class="member-icon">
            <a>
              <i class="ion-social-facebook"></i>
            </a>
            <a>
              <i class="ion-social-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="footer">
  <div class="footer-content container">
    <div class="footer-col">
      <div class="footer-logo">
        <img src="/img/playing-cards.png" />
        <p id="footer-logo">CARDS FOR HUMANITY</p>
      </div>
      <p class="copyright">© 2018 CFH Software</p>
    </div>
    <div class="footer-col">
      <p>ABOUT CARDS FOR HUMANITY</p>
      <p>
        <a id="about">About Us</a>
      </p>
      <p>
        <a id="about">Meet the Team</a>
      </p>
    </div>
    <div class="footer-col">
      <p>JOIN THE CONVERSATION</p>
      <div class="footer-icons">
        <div class="footer-icon">
          <a>
            <i class="ion-social-facebook"></i>
          </a>
        </div>
        <div class="footer-icon">
          <a>
            <i class="ion-social-twitter"></i>
          </a>
        </div>
        <div class="footer-icon">
          <a>
            <i class="ion-social-instagram"></i>
          </a>
        </div>
        <div class="footer-icon">
          <a>
            <i class="ion-social-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  $(document).ready(function () {
    $(".dropdown-trigger").dropdown();
    $('.menu-toggle').click(function () {
      $('.site-nav').toggleClass('site-nav--open', 500);
      $(this).toggleClass('open');
    })
    $(window).scroll(function () {
      $(".main-header").addClass("solid");
      $(".site-nav").addClass("solid");
      $(".humburger.solid").addClass("solid")
    })
  })
</script>